<!doctype html>
<html>
    <head>
        <title>Create New Menu Item</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h2>New Menu Item</h2>
        <div class="pane">
            <form action="{{url_for('newMenuItem', restaurant_id = restaurant_id)}}" method="POST">
                <fieldset>
                    <dl>
                        <dt>Name:</dt>
                            <dd><input type ='text' size='30' name='name'></dd>
                        <dt>Price::</dt>
                            <dd><input type="text" size="30" name="price"></dd>
                        <dt>Description::</dt>
                            <dd><input type="text" size="30" name="description"></dd>
                        <dt>Course:</dt>
                            <dd><input type ='radio' name='course' value='Appetizer'>Appetizer</dd>
                            <dd><input type ='radio' name='course' value='Entree'>Entree</dd>
                            <dd><input type ='radio' name='course' value='Dessert'>Dessert</dd>
                            <dd><input type ='radio' name='course' value='Beverage'>Beverage</dd>
                    </dl>
                    <div>
                        <input type="submit" value="Create" />
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>
